<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="ServicioDGTMultas.ServidorMultas, ServicioDGTMultas" objectUri="ServicioMultas"/>
      </service>
      <channels>
        <channel ref="tcp" port="12345"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>