<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="ServicioDGTMultas.ServidorMultas, ServicioDGTMultas" url="tcp://localhost:12345/ServicioMultas"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>